# Create a table converting state codes to HHS region numbers
Manual data processing.

In [8]:
import pandas as pd

In [13]:
# Open verbatim text from https://www.hhs.gov/about/agencies/iea/regional-offices/index.html
with open("/home/dskel/Code/HHS-Region-Numbers-by-State/hhs.txt") as f:
    temp = f.readlines()

# Process text into state, region number pairs 
temp = [int(s[7:9]) if "Region" in s else s for s in temp]
temp = [s.strip().split(", ") if type(s) == str else s for s in temp]
temp = {temp[i]:temp[i+1] for i in range(0, len(temp), 2)}
temp = {key:[s.lstrip(' and') for s in temp[key]] for key in temp}
temp = [[(key, x) for x in temp[key]] for key in temp]
hhs_state_pairs = [x for y in temp for x in y]

# Make naming adjustments
hhs_state_pairs.remove((2, "the Virgin Islands"))
hhs_state_pairs.append((2, "U.S. Virgin Islands"))
hhs_state_pairs.remove((9, "Commonwealth of the Northern Mariana Islands"))
hhs_state_pairs.append((9, "Northern Mariana Islands"))

In [14]:
hhs_state_pairs

[(1, 'Connecticut'),
 (1, 'Maine'),
 (1, 'Massachusetts'),
 (1, 'New Hampshire'),
 (1, 'Rhode Island'),
 (1, 'Vermont'),
 (2, 'New Jersey'),
 (2, 'New York'),
 (2, 'Puerto Rico'),
 (3, 'Delaware'),
 (3, 'District of Columbia'),
 (3, 'Maryland'),
 (3, 'Pennsylvania'),
 (3, 'Virginia'),
 (3, 'West Virginia'),
 (4, 'Alabama'),
 (4, 'Florida'),
 (4, 'Georgia'),
 (4, 'Kentucky'),
 (4, 'Mississippi'),
 (4, 'North Carolina'),
 (4, 'South Carolina'),
 (4, 'Tennessee'),
 (5, 'Illinois'),
 (5, 'Indiana'),
 (5, 'Michigan'),
 (5, 'Minnesota'),
 (5, 'Ohio'),
 (5, 'Wisconsin'),
 (6, 'Arkansas'),
 (6, 'Louisiana'),
 (6, 'New Mexico'),
 (6, 'Oklahoma'),
 (6, 'Texas'),
 (7, 'Iowa'),
 (7, 'Kansas'),
 (7, 'Missouri'),
 (7, 'Nebraska'),
 (8, 'Colorado'),
 (8, 'Montana'),
 (8, 'North Dakota'),
 (8, 'South Dakota'),
 (8, 'Utah'),
 (8, 'Wyoming'),
 (9, 'Arizona'),
 (9, 'California'),
 (9, 'Hawaii'),
 (9, 'Nevada'),
 (9, 'American Samoa'),
 (9, 'Federated States of Micronesia'),
 (9, 'Guam'),
 (9, 'Marshall Islands'),
 (9, 'Republic of Palau'),
 (10, 'Alaska'),
 (10, 'Idaho'),
 (10, 'Oregon'),
 (10, 'Washington'),
 (2, 'U.S. Virgin Islands'),
 (9, 'Northern Mariana Islands')]

In [15]:
hhs_df = pd.DataFrame(hhs_state_pairs, columns=["hhs_region_number", "state_name"])
hhs_df['hhs_region_number'] = hhs_df['hhs_region_number'].astype(str)

Open state codes crosswalk from the US Census Bureau.

In [16]:
states_df = (
    pd.read_csv("http://www2.census.gov/geo/docs/reference/state.txt?#", delimiter="|")
    .drop(columns="STATENS")
    .rename(
        columns={
            "STATE": "state_code",
            "STUSAB": "state_id",
            "STATE_NAME": "state_name",
        }
    )
)
states_df["state_code"] = states_df["state_code"].astype(str).str.zfill(2)
states_df["state_id"] = states_df["state_id"].astype(str).str.lower()

# Add a few extra US state territories manually
states_df = pd.concat(
    (
        states_df,
        pd.DataFrame(
            [
                {
                    "state_code": 70,
                    "state_name": "Republic of Palau",
                    "state_id": "pw",
                },
                {
                    "state_code": 68,
                    "state_name": "Marshall Islands",
                    "state_id": "mh",
                },
                {
                    "state_code": 64,
                    "state_name": "Federated States of Micronesia",
                    "state_id": "fm",
                },
            ]
        ),
    )
)

In [17]:
states_df

   state_code state_id                      state_name
0          01       al                         Alabama
1          02       ak                          Alaska
2          04       az                         Arizona
3          05       ar                        Arkansas
4          06       ca                      California
5          08       co                        Colorado
6          09       ct                     Connecticut
7          10       de                        Delaware
8          11       dc            District of Columbia
9          12       fl                         Florida
10         13       ga                         Georgia
11         15       hi                          Hawaii
12         16       id                           Idaho
13         17       il                        Illinois
14         18       in                         Indiana
15         19       ia                            Iowa
16         20       ks                          Kansas
17         21       ky                        Kentucky
18         22       la                       Louisiana
19         23       me                           Maine
20         24       md                        Maryland
21         25       ma                   Massachusetts
22         26       mi                        Michigan
23         27       mn                       Minnesota
24         28       ms                     Mississippi
25         29       mo                        Missouri
26         30       mt                         Montana
27         31       ne                        Nebraska
28         32       nv                          Nevada
29         33       nh                   New Hampshire
30         34       nj                      New Jersey
31         35       nm                      New Mexico
32         36       ny                        New York
33         37       nc                  North Carolina
34         38       nd                    North Dakota
35         39       oh                            Ohio
36         40       ok                        Oklahoma
37         41       or                          Oregon
38         42       pa                    Pennsylvania
39         44       ri                    Rhode Island
40         45       sc                  South Carolina
41         46       sd                    South Dakota
42         47       tn                       Tennessee
43         48       tx                           Texas
44         49       ut                            Utah
45         50       vt                         Vermont
46         51       va                        Virginia
47         53       wa                      Washington
48         54       wv                   West Virginia
49         55       wi                       Wisconsin
50         56       wy                         Wyoming
51         60       as                  American Samoa
52         66       gu                            Guam
53         69       mp        Northern Mariana Islands
54         72       pr                     Puerto Rico
55         74       um     U.S. Minor Outlying Islands
56         78       vi             U.S. Virgin Islands
0          70       pw               Republic of Palau
1          68       mh                Marshall Islands
2          64       fm  Federated States of Micronesia

In [20]:
states_df.merge(hhs_df, on="state_name", how="left").dropna().to_csv(
    "/home/dskel/Code/HHS-Region-Numbers-by-State/state_hhs_crosswalk.csv", index=False
)